@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:400,500&display=swap');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

// CUSTOM

.container {
  max-width: 1600px;
  margin: 0 auto;
  overflow: auto;
}

.hero-outer {
  overflow: auto;
  height: 500px;
  background-size: 130%;
  background-position: center calc(0% - 100px) ; 

  @media (min-width: 640px) {
    background-size: 110%;
    background-position: center calc(0% - 100px) ; 
  }

  @media (min-width: 768px) {
    height: 700px;
    background-size: 800px;
    background-position: calc(10% - 100px) 50%;
  }
}

.hero-inner {
  
  @media (min-width: 768px) {
    padding: 0px 0px 0px calc(10% + 110px);
  }
}

.designer-developer-outer {
  &.left {
    justify-content: flex-start;
    
    .dd-text {
      order: 2;
    }

    .dd-img {
      order: 1;
    }
  }

  &.right {
    justify-content: flex-end;

    .dd-text {
      order: 1;

      .title {
        text-align: right;
      }
    }

    .dd-img {
      order: 2;
    }
  }
}